/* Fonts */
:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
    --color-default: #222222;
    --color-primary: #FFA500;
    --color-secondary: #f85a40;
    --color-text: #ffff;
    --color-text-secondary: #000;
    --light: #F1F8FF;

}

/* Smooth scroll behavior */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
body {
    font-family: var(--font-default);
    color: var(--color-default);
}

a {
  color: var(--color-text);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
}

.page-padding{
  padding-top: 80px;
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: #ffd900eb;
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffd900eb;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
    scroll-margin-top: 70px;
    overflow: clip;
  }
  
  .sections-bg {
    background-color: #f6f6f6;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-header h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .section-header h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  .section-header p {
    margin-bottom: 0;
    color: #6f6f6f;
  }
  
  .section-m1{
    margin: 40px 0;
}

#page-header{
  background-image: url("../img/banner.png");
  width: 100%;
  height: 50vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2, #page-header p{
  color: #fff;
}

#page-header h2{
  font-size: 50px;

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.topbar {
    background: #FFA500;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

.topbar .contact-info i {
    font-style: normal;
    color: #fff;
    line-height: 0;
}

.topbar .contact-info i a,
.topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
}

@media (max-width: 575px) {

    .topbar .contact-info i a,
    .topbar .contact-info i span {
        font-size: 12px;
    }
}

.topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

.topbar .contact-info i a:hover {
    color: #fff;
    text-decoration: underline;
}

.topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

.topbar .social-links a:hover {
    color: #fff;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding: 35px 15px;
    color: var(--bs-white) !important;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}



.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
    color: var(--bs-whitee) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--bs-white) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }


    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--bs-dark) !important;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active  {
        color: var(--color-primary) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light);
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: -1px;
        left: 0;
        background:#FFD700;
        transition: .5s;
        z-index: -1;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        height: calc(100% + 1px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}


/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.swiper {
    width: 100%;
    height: 80%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 95vh;
    object-fit: cover;
  }

  /*--------------------------------------------------------------
# Fetaures
--------------------------------------------------------------*/
.features {
    width: 100%;
    position: relative;
    background: white;
    padding: 50px 0 30px 0;
  }
  

.features .icon-box {
    padding: 60px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  .features .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .features .icon-box .title a {
    color: #000;
    transition: 0.3s;
  }
  
  .features .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 48px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .features .icon-box:hover {
    background: #ffd2d2;
  }
  
  .features .icon-box:hover .title a,
  .features .icon-box:hover .icon {
    color: #fff;
  }

  /*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
    text-transform: uppercase;
  }
  
 .about .about-img img {
    width: 80%;
 }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .about .content p{
    font-size: 18px;
  }  

  @media (max-width: 991.98px) {
    .about .about-img img {
      width: 100%;
    }
  }

/*--------------------------------------------------------------
# Products Section
--------------------------------------------------------------*/
.product .card {
    border: 1px solid rgba(14, 29, 52, 0.15);
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    position: relative;
    border-radius: 10px;
    height: 100%;
  }
  
  .product .card .card-img {
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 0;
  }

  .product .card .card-img img{
    width: 100%;
    height: 50vh;
  }
  
  .product .card .card-img img {
    transition: 0.3s ease-in-out;
  }
  
  .product .card h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px 30px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .product .card a {
    color: #001973;
    transition: 0.3;
  }
  
  .product .card a:hover {
    color: var(--color-primary);
  }
  
  
  .product .card:hover .card-img img {
    transform: scale(1.1);
  }

  .product .product-more{
    margin-top: 50px;
  }

  .product .product-more button{
    padding: 10px 50px 10px 50px;
    border: var(--color-primary) solid 1px;
    background-color: transparent;
  }
  .product .product-more a button {
  color: #000;
  }
  
  .product .product-more button:hover{
    background: var(--color-primary);
    transition: 0.5 ease;
    color: #fff;
}
  .product .product-more button a:hover{
    transition: 0.5 ease;
    color: #fff;
}

  @media (max-width: 991.98px) {
    .product .card .card-img img{
      width: 100%;
      height: 30vh;
    }
  }

/*--------------------------------------------------------------
# Brands Section
--------------------------------------------------------------*/
.brands {
    background-color: #f5f8fd;
}


.swiper.brands-swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide.brands-slide {
    text-align: center;
    font-size: 18px;
    background-color: #f5f8fd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide.brands-slide img {
    display: block;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 479.98px) {
    .swiper-slide.brands-slide img {
        width: 70%;
    }

}

/*--------------------------------------------------------------
# End brands
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Banner Section
--------------------------------------------------------------*/

  #banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/banner2.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h3{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;

}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding-bottom: 10px 0;
}

#banner .banner-btn{
    padding: 10px 50px 10px 50px;
    border: var(--color-primary) solid 1px;
    background-color: transparent;
}

#banner button:hover{
    background: var(--color-primary);
    transition: 0.5 ease;
    color: #fff;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  padding-top: 120px;
}

.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: var(--color-primary);
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}

.contact .email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .email-form input:focus,
.contact .email-form textarea:focus {
  border-color: #4154f1;
}

.contact .email-form input[type=text],
.contact .email-form input[type=email] {
  padding: 10px 15px;
}

.contact .email-form textarea {
  padding: 12px 15px;
}

.contact .email-form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button[type=submit]:hover {
  background: #ffd900eb;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Main-products
--------------------------------------------------------------*/
.main-products .main-products-item {
  margin-bottom: 30px;
}

.main-products #main-products-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.main-products #main-products-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.main-products #main-products-flters li:hover,
.main-products #main-products-flters li.filter-active {
  color: #0563bb;
}

.main-products #main-products-flters li:last-child {
  margin-right: 0;
}

.main-products .main-products-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}


.main-products .main-products-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.main-products .main-products-wrap .main-products-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-products .main-products-wrap .main-products-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.main-products .main-products-wrap .main-products-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.main-products .main-products-wrap .main-products-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.main-products .main-products-wrap .main-products-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.main-products .main-products-wrap .main-products-links {
  text-align: center;
  z-index: 4;
}

.main-products .main-products-wrap .main-products-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.main-products .main-products-wrap .main-products-links a:hover {
  color: #148af9;
}

.main-products .main-products-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.main-products .main-products-wrap:hover .main-products-info {
  opacity: 1;
}

.main-products .main-products-wrap:hover .main-products-info::before {
  top: 15px;
  left: 15px;
}

.main-products .main-products-wrap:hover .main-products-info::after {
  bottom: 15px;
  right: 15px;
}


.products-catalogue button{
  padding: 10px 50px 10px 50px;
    border: var(--color-primary) solid 1px;
    background-color: var(--color-primary);
}